<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task01</title>
</head>
<body>
    <form action="/~/eugene_lubimov/lesson04/task03/" method="get">

        Side1: <input type="text" name="s1" value="{{s1}}">
        Side2: <input type="text" name="s2" value="{{s2}}">
        Side3: <input type="text" name="s3" value="{{s3}}">

        <button type="submit">Calculate</button>
    </form>

    <h1>{{result}}</h1>

</body>
</html>