<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikita Karmanaw</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .link{
            color: blue;
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="container">
        <h3>{{hello}}</h3>
        <ul>
            <h5>My links:</h5>
                <li class="link"><a href="{% url 'karmaxa_money' %}" class="list-group-item list-group-item-action">04/01:task_money</a></li>
                <li class="link"><a href="{% url 'karmaxa_sign' %}" class="list-group-item list-group-item-action">04/02:task_sign</a></li>
                <li class="link"><a href="{% url 'karmaxa_triangle' %}" class="list-group-item list-group-item-action">04/03:task_triangle</a></li>
                <li class="link"><a href="{% url 'karmaxa_palindrom' %}" class="list-group-item list-group-item-action">04/04:task_palindrom</a></li>
                <li class="link"><a href="{% url 'karmaxa_hdist' %}" class="list-group-item list-group-item-action">06/03:task_hdist</a></li>
                <li class="link"><a href="{% url 'karmaxa_cities' %}" class="list-group-item list-group-item-action">06/04:task_cities</a></li>
                <li class="link"><a href="{% url 'karmaxa_route' %}" class="list-group-item list-group-item-action">06/05:task_route</a></li>
        </ul>
    </div>
    <div class="btn link">
        <button class="btn btn-outline-primary btn-sm">
            <a href="../../../" class="list-group-item list-group-item-action" style="margin: top 10em;">to home page</a>
        </button>
    </div>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>