{% extends 'app_mikita_karmanaw/index_main.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container" style="margin: top 2em;">
    <form class="row g-2">
        <h4>task_money</h4>
        <div class="col-auto">Rubles
            <input type="text" class="form-control" name="r" value="{{r}}">
        </div>
        <div class="col-auto">Coins
            <input type="text" class="form-control" name="c" value="{{c}}">
        </div>
        <div class="col-auto">Amount
            <input type="text" class="form-control" name="a" value="{{a}}">
        </div>
        <div class="row-auto">
            <button type="submit" class="btn btn-outline-primary">Calculate!</button>
        </div>
    </form>
    <div class="mb-3">
        <h3>{{result}}</h3>
    </div>
    <div class="mb-3">
        <a href="{% url 'karmaxa_main' %}">back</a>
    </div>
</div>

{% endblock content %}