{% extends 'app_mikita_karmanaw/index_main.html' %}

{% block content %}
<div style="height:40px"></div>
<div class="container col-4">
    <div style="margin: top 2em; float: left">
        <form class="row g-2">
            <h4>task_route</h4>
            <div class="col-auto">Route
                <input type="text" class="form-control" name="route" value="{{route}}">
            </div>
            <div class="row-auto">
                <button type="submit" class="btn btn-outline-primary">Check!</button>
            </div>
        </form>
        <div class="mb-3">
            <h3>{{ distance }}</h3>
        </div>
        <div class="mb-3">
            <a href="{% url 'karmaxa_main' %}">back</a>
        </div>
    </div>
    <div style="float: right">
        <ul><h5>Allowed cities:</h5>
            {% for city in cities %}
            <li>{{ city }}</li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock content %}