<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      <p> <span>Lesson 04 Task 01 with query</span></p> 
      <a href="http://127.0.0.1:8000/~/igor_maksimov/lesson04/task01/?r=2&a=4&c=7"> http://127.0.0.1:8000/~/igor_maksimov/lesson04/task01/?r=2&a=4&c=7</a>
      <p> <span>Lesson 04 Task 01 with out query</span></p> <a href="http://127.0.0.1:8000/~/igor_maksimov/lesson04/task01/"> http://127.0.0.1:8000/~/igor_maksimov/lesson04/task01/</a>  
      <p> <span>Lesson 04 Task 02 </span></p> 
      <p>Существует функция с названием task_02_sign.
        Функция принимает параметры:
        number: любое число любого численного типа в Python;     
        Функция возвращает результат: целое число:   
            +1 если число больше 0;
            -1 если меньше;
            0 в остальных случаях;
        </p>
      <a href="http://127.0.0.1:8000/~/igor_maksimov/lesson04/task02/"> http://127.0.0.1:8000/~/igor_maksimov/lesson04/task02/</a>
      <p> <span>Lesson 04 Task 03 Triagle</span></p> <a href="http://127.0.0.1:8000/~/igor_maksimov/lesson04/task03/"> http://127.0.0.1:8000/~/igor_maksimov/lesson04/task03/</a>  
        
    </div>
</body>
</html> 