<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lesson 04 Task 03 Triagle</h1>
    <form action="/~/igor_maksimov/lesson04/task03/" method="get">
        Side 1: <input type="number" name="a" value="{{a}}">
        Side 2: <input type="number" name="b" value="{{b}}">
        Side 3: <input type="number" name="c" value="{{c}}">

        <button type="submit">Calculate</button>
        </form>
</body>
</html>