<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/~/igor_maksimov/lesson04/task01/" method="get">
        Rubles: <input type="text" name="r" value="{{r}}">
        Coins: <input type="text" name="c" value="{{c}}">
        Amount: <input type="text" name="a" value="{{a}}">
        <button type="submit">Calculate</button>
        </form>
        <h1>{{result}}</h1>
</body>
</html>