<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Group m-pt1-58-22</title>
</head>

<body>
{% block main_app_content %} {% endblock main_app_content %}

{% block content %}
<div class="card">
        <div class="card-header">
            <h3 class="card-title">Group m-pt1-58-22</h3>
        </div>
        <div class="card-row">
            <div class="card-body col-3" style="padding-top: 30px;">
                <ol><h3>Список студентов:</h3>
                    {% for student in list_students %}
                    <li>
                        <a href="~/{{ student }}">{{ student }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div style="background: #F8F8F8; width: 30px;">
            </div>
            <div class="card-body col-9" style="float:right; width: 70%;">
                <div class="container">
                    <ol><h3>Программа курса:</h3>
                        <li class="line">
                            <a href="#collapse1", data-bs-toggle="collapse", aria-controls="collapse1" role="button", class="btn btn_primary" aria-expanded="false">Введение в базовый синтаксис Python</a>
                            <ul class="collapse list" id="collapse1">
                                <li>Основные принципы работы интерпретатора Python. Использование Python на различных операционных системах.</li>
                                <li>Основы работы с IDE.</li>
                                <li>Linux как часть production разработки.</li>
                                <li>Переменные, выражения и инструкции, операторы и операнды.</li>
                                <li>Порядок операций, модульные операции.</li>
                                <li>Обновление переменных (х=х+1).</li>
                                <li>Понятие отладка (debug). Применение.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse2", data-bs-toggle="collapse", aria-controls="collapse2" role="button", class="btn btn_primary" aria-expanded="false">Ввод данных и логические выражения</a>
                            <ul class="collapse list" id="collapse2">
                                <li>Ввод входных данных. Комментарии.</li>
                                <li>Логические выражения. Логические операторы. Ленивые вычисления и их место в Python.</li>
                                <li>Условные операторы.</li>
                                <li>Последовательность условий. Вложенные условия.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse3", data-bs-toggle="collapse", aria-controls="collapse3" role="button", class="btn btn_primary" aria-expanded="false">Строковые операции. Строки.</a>
                            <ul class="collapse list" id="collapse3">
                                <li>Строковые операции.</li>
                                <li>Добавление, изменение, удаление элементов.</li>
                                <li>Строковые методы.</li>
                                <li>Форматирование строк.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse4", data-bs-toggle="collapse", aria-controls="collapse4" role="button", class="btn btn_primary" aria-expanded="false">Введение в работу с git</a>
                            <ul class="collapse list" id="collapse4">
                                <li>Инициализация проекта, добавление, изменение файлов.</li>
                                <li>Работа с историей git.</li>
                                <li>Работа в ветках. Cherry-pick.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse5", data-bs-toggle="collapse", aria-controls="collapse5" role="button", class="btn btn_primary" aria-expanded="false">Итерируемые объекты</a>
                            <ul class="collapse list" id="collapse5">
                                <li>Списки и кортежи.</li>
                                <li>Объекты коллекций как итерируемые объекты.</li>
                                <li>Добавление, изменение, удаление элементов.</li>
                                <li>Итераторы и генераторы.</li>
                                <li>Словари и множества.</li>
                                <li>Генераторы списков, словарей, множеств. Выражения-генераторы.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse6", data-bs-toggle="collapse", aria-controls="collapse6" role="button", class="btn btn_primary" aria-expanded="false">Циклы</a>
                            <ul class="collapse list" id="collapse6">
                                <li>Цикл while. Бесконечный цикл.</li>
                                <li>Цикл for. Операторы break, continue else.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse7", data-bs-toggle="collapse", aria-controls="collapse7" role="button", class="btn btn_primary" aria-expanded="false">Функции и модульность</a>
                            <ul class="collapse list" id="collapse7">
                                <li>Вызов функции.</li>
                                <li>Встроенные функции.</li>
                                <li>Функции, преобразующие типы.</li>
                                <li>Добавление новых функций.</li>
                                <li>Определение и использование.</li>
                                <li>Параметры и аргументы.</li>
                                <li>Параметры функции и локальные переменные.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse8", data-bs-toggle="collapse", aria-controls="collapse8" role="button", class="btn btn_primary" aria-expanded="false">Файлы и работа с ОС</a>
                            <ul class="collapse list" id="collapse8">
                                <li>Бинарные и текстовые режимы работы с файлами.</li>
                                <li>Сериализация. json, pickle.</li>
                                <li>Потоковое чтение из файла.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse9", data-bs-toggle="collapse", aria-controls="collapse9" role="button", class="btn btn_primary" aria-expanded="false">PIP и использование библиотек</a>
                            <ul class="collapse list" id="collapse9">
                                <li>Знакомство с pip.</li>
                                <li>Изучение и использование Stackoverflow.com и русскоязычных аналогов.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse10", data-bs-toggle="collapse", aria-controls="collapse10" role="button", class="btn btn_primary" aria-expanded="false">Введение в ООП</a>
                            <ul class="collapse list" id="collapse10">
                                <li>Основные принципы. Класс.</li>
                                <li>Понятие методов и атрибутов класса.</li>
                                <li>Инициализации объекта, работа с объектами. Magic методы.</li>
                                <li>Наследование. Композиция. Агрегация.</li>
                                <li>Перехват исключений с использованием try и except.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse11", data-bs-toggle="collapse", aria-controls="collapse11" role="button", class="btn btn_primary" aria-expanded="false">Django</a>
                            <ul class="collapse list" id="collapse11">
                                <li>Введение.</li>
                                <li>Основные понятия клиент-серверной работы в веб. Flask.</li>
                                <li>Создание проекта.</li>
                                <li>Запуск девелоперского сервера.</li>
                                <li>Создание приложения.</li>
                                <li>Концепция MVC реализуемая Django.</li>
                                <li>Назначение view и url файлов. Class-based view.</li>
                                <li>REST. Правила формирования url-адресов. django-rest.</li>
                                <li>Решение практических задач на django с использованием стандартных и сторонних библиотек python.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse12", data-bs-toggle="collapse", aria-controls="collapse12" role="button", class="btn btn_primary" aria-expanded="false">Понятие файла настроек (settings)</a>
                            <ul class="collapse list" id="collapse12">
                                <li>Основные настройки.</li>
                                <li>Для чего нужна база данных. Реляционная база данных.</li>
                                <li>Введение. Основные понятия. PostgreSQL. Базовые sql запросы (select, update, insert, delete).</li>
                                <li>Активация приложений (installed_apps).</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse13", data-bs-toggle="collapse", aria-controls="collapse13" role="button", class="btn btn_primary" aria-expanded="false">Работа с моделями</a>
                            <ul class="collapse list" id="collapse13">
                                <li>Работа с зависимыми моделями.</li>
                                <li>Prefetch related. Многие к одному, многие ко многим.</li>
                                <li>Фильтрация, сортировка.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse14", data-bs-toggle="collapse", aria-controls="collapse14" role="button", class="btn btn_primary" aria-expanded="false">Понятие миграций. Миграции схем данных</a>
                            <ul class="collapse list" id="collapse14">
                                <li>Миграция данных. Концепция трех (schema-data-schema).</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse15", data-bs-toggle="collapse", aria-controls="collapse15" role="button", class="btn btn_primary" aria-expanded="false">Django shell</a>
                            <ul class="collapse list" id="collapse15">
                                <li>Знакомство с django extentions.</li>
                                <li>Полезные функции и программы работы в Linux.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse16", data-bs-toggle="collapse", aria-controls="collapse16" role="button", class="btn btn_primary" aria-expanded="false">Основы html</a>
                            <ul class="collapse list" id="collapse16">
                                <li>html (теги и атрибуты).</li>
                                <li>Отправка формы (Front-end).</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse17", data-bs-toggle="collapse", aria-controls="collapse17" role="button", class="btn btn_primary" aria-expanded="false">Написание и обработка простой формы</a>
                            <ul class="collapse list" id="collapse17">
                                <li>Работа с django шаблонами (templates).</li>
                                <li>Написание и обработка простой формы.</li>
                                <li>Сложные шаблоны, интеграция с views файлами.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse18", data-bs-toggle="collapse", aria-controls="collapse18" role="button", class="btn btn_primary" aria-expanded="false">Введение в тестирование</a>
                            <ul class="collapse list" id="collapse18">
                                <li>Концепция тестов.</li>
                                <li>Написание простых тестов.</li>
                                <li>Знакомство с TDD и BDD.</li>
                                <li>Написание django unittests.</li>
                            </ul>
                        </li>
                        <li class="line">
                            <a href="#collapse19", data-bs-toggle="collapse", aria-controls="collapse19" role="button", class="btn btn_primary" aria-expanded="false">Защита проекта</a>
                            <ul class="collapse list" id="collapse19">
                                <li>Защита проекта.</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

</body>
</html>
